@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #141414;
    padding-bottom: 120px;
}

:root a:hover {
    color: #ec41b5;
    cursor: pointer;
}

:root a:active {
    background-color: #35182c;
}

:root a::selection, h1::selection, h2::selection, p::selection {
    background-color: #35182c;
}

:root h1 {
    font-size: 18pt;

}

:root h2 {
    font-size: 16pt;
}

:root p {
    font-size: 18px;
}

:root hr {
    background-color: #282828;
    border: none;
    height: 1px;
}